[Unit]
Description=Sysupgrade from downloaded packages
After=network.target
Requires=network.target
Conflicts=pacman-update.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -S archlinux-keyring --needed --noconfirm
ExecStart=/usr/bin/pacman -Su --noconfirm
