[Unit]
Description=The x0vncserver
Wants=xorg-server.service
After=application.service
After=html5ds.service

[Service]
Type=simple
User=digsig
Group=digsig
ExecStart=/usr/bin/x0vncserver -display :0 -SecurityTypes=none
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical.target
